:root {
    --scrollWidth: calc(960px - 3rem);
}

.container {
    padding: 4rem 1.5rem 1.5rem 1.5rem;
    margin: 0 auto;
    font-weight: 18px;
    min-height: 100vh;
    max-width: 960px;
}

.intro {
    max-width: 530px;
    margin-bottom: 3rem;
}

.intro b {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--headers);
    line-height: normal;
}

.grid-item {
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.grid {
    /* margin-bottom: calc(10rem + 20px); */
    margin-bottom: calc(50rem - 660px);
}

.grid-row {
    display: grid;
    grid-template-columns: 1fr 1fr 120px;

    padding: .5rem 0;
    height: 37px;
}

.grid-row.header {
    font-weight: 550;
    border-bottom: 1px solid #eee;
    color: var(--headers);
    /* margin-top: 4rem; */
}

.grid-row span:last-of-type {
    text-align: right;
}


.grid-media-container {
    display: none;
    width: 100%;

    background-color: white;
    overflow-x: scroll;
    white-space: nowrap;
    font-size: 0;
    position: absolute;
    pointer-events: none;
    padding-bottom: 0;

    /* left: 300px; */
    /* left: 1.5rem; */
    /* width: calc(100% - 300px - 1.5rem); */
    /* max-width: calc(100% - 3rem); */
    /* max-width: var(--scrollWidth); */
    max-width: calc(100% - (100% - 960px) / 2 - 1.5rem);
    /* right: 1.5rem; */
}

.grid-media-container::-webkit-scrollbar {
    display: none;
}

.grid-media-container>* {
    height: calc(50rem - 660px);
    width: auto;
    border-radius: 2px;
    background-color: #eee;
    margin-right: 1rem;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;

    animation-name: loadingFade;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.grid-media-container>div>* {
    height: calc(50rem - 660px);
    width: auto;
}

@keyframes loadingFade {
    0% {
        background-color: #eee;
    }

    50% {
        background-color: #f6f6f6;
    }

    100% {
        background-color: #eee;
    }
}

.grid-media-container>*:last-child {
    margin-right: 1.5rem;
    /* border-right: 1.5rem solid white; */

}

.grid-item-head-small {
    width: 300px;
}

@media only screen and (max-width: 1300px) {
    .container {
        padding: 1.5rem;
        max-width: 100vw;
    }

    .grid-media-container {
        max-width: calc(100% - 1.5rem);
    }
}

@media only screen and (min-width: 1600px) {
    .grid-row {
        /* grid-template-columns: 570px 1fr 120px; */
        /* grid-template-columns: 2fr 3fr 120px; */
        height: 39px;
    }

    .container {
        padding: 8rem 1.5rem 1.5rem 1.5rem;
    }

    .intro {
        max-width: 560px;
        margin-bottom: 4rem;
    }
}



.mobileText {
    display: none;
}

.desktopText {
    display: inline;
}

.mobile-poster>* {
    border-radius: 2px;
    margin-top: 1rem;
    margin-bottom: 0;
}

.link {
    text-decoration: underline;
    margin-right: 1ch;
    display: inline-block;
    cursor: pointer;
    text-decoration-thickness: 1px;
}

/* #email-tooltip{
    display: none;
    color: var(--grey);
} */



@media only screen and (max-width: 760px) {
    .intro {
        font-size: 1rem;
    }

    .container {
        padding: 1rem;
    }

    .mobileText {
        display: inline;
    }

    .desktopText {
        display: none;
    }

    .grid-row {
        grid-template-columns: 1fr;
        grid-row-gap: 0.25rem;
        height: auto;
    }

    .grid-row span:last-of-type {
        text-align: left;
        color: var(--grey);
    }

    .grid-item {
        border-bottom: none;
    }

    .grid {
        margin-bottom: 0;
    }
}



@media (hover: hover) {
    .intro a:hover {
        text-decoration: underline;
        text-decoration-thickness: 1px;
    }

    .grid-item:hover .grid-highlight {
        text-decoration: underline;
        text-decoration-thickness: 1px;
    }

    .grid-item:hover .grid-media-container {
        display: block;
    }

    /* span.link:hover ~ a{
        display: none;
    }
    span.link:hover ~ #email-tooltip{
        display: inline;
    } */


}

@media (hover: none) {
    .gridItem .gridItemText span:nth-of-type(2) {
        opacity: 1;
    }
}


.gridItemMedia>.head-container {
    position: relative;
    padding-top: 60%;
    display: block;
    filter: invert(1);
    user-select: none;
    width: 300px;
    /* height: calc(10rem + 20px); */
    height: calc(50rem - 660px);
    border-radius: 2px;
    overflow: hidden;
}

#head-fiber {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}