:root {
  --bg: white;
  --text: #1d1d1f;
  --headers: black;
  --grey: #AAAAAA;
  --darkgrey: #7f7f7f;
  --linecolor: #eee;
  --hovercolor: #f5f5f7;
  font-family: 'Inter', sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1, 'ss07' 1, 'ss08' 1;
  -o-font-feature-settings: 'liga' 1, 'calt' 1, 'ss07' 1, 'ss08' 1;
  -moz-font-feature-settings: 'liga' 1, 'calt' 1, 'ss07' 1, 'ss08' 1;
  -webkit-font-feature-settings: 'liga' 1, 'calt' 1, 'ss07' 1, 'ss08' 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'InterVariable', sans-serif;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-underline-offset: 3px;
  text-decoration-color: var(--grey) !important;
}

html {
  background-color: var(--bg);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--text);
  font-size: 17px;
}

@media only screen and (min-width: 1600px) {

  html,
  body {
    font-size: 18px;
  }
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

u {
  text-decoration-thickness: 1px;
}

.grey {
  opacity: 0.4;
}

img,
video {
  width: 100%;
  display: block;
  height: auto;
}

h1 {
  font-size: 2.5rem;
  font-weight: 550;
  letter-spacing: -0.02em;
  margin: 0 0 1rem 0;
  line-height: 1.1;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}

h3 {
  margin: 3rem 0 0.75rem;
  font-size: 1.2rem;
  font-weight: 550;
}

h4 {
  margin: 0 0 0.5rem;
  font-size: 1rem;
  padding: 0;
  font-weight: 500;
}

h1,
h2,
h3,
h4 {
  color: var(--headers);
  /* color: black; */
}

p {
  margin-bottom: 2rem;
  line-height: 140%;
}


blockquote {
  margin: -1rem 0 2rem 0;
  padding: 0.25rem 1.5rem;
  border-left: 1px solid var(--linecolor);
  font-style: italic;
}

iframe+.squares-box img {
  margin-bottom: 0;
}

iframe+.squares-box .squares {
  margin-top: 0;
}

iframe+h3,
video+h3,
img+h3,
.squares-box+h3,
.image-details+h3,
iframe+h2,
video+h2,
img+h2,
.squares-box+h2,
div+h2,
iframe+h1,
video+h1,
img+h1,
.squares-box+h1,
div+h1 {
  margin-top: 5rem;
}

iframe+p,
video+p,
img+p,
.squares-box+p {
  margin-top: 2rem;
}