@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap'); */
@import url('https://rsms.me/inter/inter.css');

:root{
  /* --bg: #000000;
  --text: white; */

  /* light */
  --bg: white;
  /* --text: #333333; */
  --text: #1d1d1f;
  --headers: black;
  --grey: #AAAAAA;
  --darkgrey: #7f7f7f;
  --linecolor: #eee;
  /* --hovercolor: #f2f2f2; */
  --hovercolor: #f5f5f7;

  /* dark */
}
/*
@media (prefers-color-scheme: dark) {
  *{
    font-weight: 300;
  }
  :root {
    --bg: black;
    --text: #ccc;
    --headers: white;
    --grey: #aaa;
    --darkgrey: #7f7f7f;
    --linecolor: #222;
    --hovercolor: #181818;
  }
}
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-underline-offset: 2px;
}




html{
  background-color: var(--bg);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--text);
  font-size: 17px;
}

@media only screen and (min-width: 1600px) {
  html,
  body {
    font-size: 18px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

u {
  text-decoration-thickness: 1px;
}



*{
  /* font-family: "Inter", system-ui; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Inter', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  
  -webkit-font-feature-settings: "ss01", "calt";
  -moz-font-feature-settings: "ss01","calt";
    -o-font-feature-settings: "ss01","calt";
       font-feature-settings: "ss01","calt";
}

.grey{
  opacity: 0.4;
}

img, video{
  /* border-radius: 2px; */
  width: 100%;
  display: block;
}

h1{
  font-size: 34px;
  font-weight: 600;
  margin: 0 0 1rem 0;
  /* font-family: "Space Grotesk", "Inter", system-ui; */
  /* font-family: "Inter", system-ui; */
  letter-spacing: -0.05rem;
  /* line-height: 1.1; */
}

h2{
  text-transform: uppercase;
  margin: 4rem 0 20px 0;
  display: block;
  font-size: 1rem;
  font-weight: 400;
}

h3{
  margin: 3rem 0 0.75rem;
  font-size: 1.2rem;
  font-weight: 600;
}

h4{
margin: 0 0 0.5rem;
font-size: 1rem;
padding: 0;
font-weight: 600;
}

h1, h2, h3, h4{
  color: var(--headers);
  /* color: black; */
}
p {
  margin-bottom: 2rem;
  line-height: 140%;
}


blockquote {
  margin: -1rem 0 2rem 0;
  padding: 0.25rem 1.5rem;
  /* border-left: 2px solid #505050; */
  /* border-left: 2px solid #999; */
  border-left: 1px solid var(--linecolor);
  font-style: italic;
}

iframe + .squares-box img{
margin-bottom: 0;
}

iframe + .squares-box .squares{
margin-top: 0;
}

iframe + h3, video + h3, img + h3, .squares-box + h3, .image-details + h3, iframe + h2, video + h2, img + h2, .squares-box + h2, div + h2, iframe + h1, video + h1, img + h1, .squares-box + h1, div + h1{
margin-top: 5rem;
}

iframe + p, video + p, img + p, .squares-box + p{
margin-top: 2rem;
}