.page {
    max-width: 712px;
    padding: 6rem 1rem 9rem 1rem;
    margin: 0 auto;
    min-height: 100vh;
}

.close {
    position: fixed;
    top: 1.5rem;
    left: 1.5rem;
    z-index: 999;
    cursor: pointer;
}

.close:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}



.page-hero {
    margin-bottom: 3rem;
}

iframe,
img {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    border-radius: 2px;
}

iframe {
    height: 382px;
}

@media only screen and (max-width: 712px) {
    .close {
        top: 1rem;
        left: 1rem;
        position: absolute;
    }

    iframe {
        height: calc((100vw - 2rem) * 9 / 16);
    }
}

@media only screen and (max-width: 1024px) {
    .page {
        padding: 6rem 1rem 1rem 1rem;
    }
}

@media only screen and (min-width: 1600px) {
    .page {
        max-width: 760px;
        padding: 8rem 1rem 9rem 1rem;
    }

    iframe {
        height: 427.5px;
    }

    .close {
        top: 2.5rem;
        left: 2.5rem;
    }
}

.context {
    margin-bottom: 4rem;
    padding-top: 1rem;
    border-top: 1px solid var(--linecolor);
    /* border-top: 1px solid #333; */
    font-size: 16px;
    color: var(--darkgrey);
    line-height: 140%;
}

.profile {
    background-size: cover;
    background-position: center center;
    opacity: 1 !important;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    ;
}

.quote {
    margin: 2rem 0 2rem 0;
    display: grid;
    grid-template-columns: 4rem 1fr;
    grid-column-gap: 1.5rem;
}

.quote .profile {
    width: 4rem;
    height: 4rem;
}

.quote div:nth-child(even) {
    font-style: italic;
    font-size: 16px;
    display: block;
    /* margin-top: 0.2rem; */
    /* opacity: 0.8; */
    color: var(--darkgrey);
}

.details {
    font-size: 16px;
    color: var(--darkgrey);
}



.page>.head-container {
    position: relative;
    /* padding-top: 75%; */
    display: block;
    filter: invert(1);
    user-select: none;
    width: 100%;
    height: 450px;
    border-radius: 2px;
    overflow: hidden;
}

.half {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.quarter {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 1rem;
}

video:not(.grid-media-container video) {
    max-width: 100%;
    width: auto;
    display: block;
    border-radius: var(--img-radius);
    max-height: 800px;
    border-radius: 2px;
    margin: 0 auto 1rem auto;
}

.image-details {
    text-align: center;
    font-size: 14px;
    margin-top: -0.5rem;
    margin-bottom: 2rem;
    color: var(--grey);
}

@media only screen and (max-width: 600px) {
    .half {
        grid-template-columns: 1fr;
    }

    .quarter {
        grid-template-columns: 3fr 2fr;
    }

    .page-hero+h1 {
        margin-top: 0;
    }
}

.spotify {
    height: 152px;
}